<div class="container">
  <div class="row">
    <div class="col">
      <h1>Hola mundo!</h1>
    </div>
  </div>
</div>

<!-- 
  Controles 
-->
<button type="button" class="btn btn-info">
  Aceptar
</button>
